.pipeline-container {
  background: hsla(170, 50%, 3%, 1);
  width: 100vw;
  height: 100vh;
}
.content__title {
  color: white; /* Change to a contrasting color */
  font-size: 2rem;
  position: relative;
  z-index: 10; /* Ensure it's above other elements */
}
